absl-py==2.1.0
altair==5.5.0
astunparse==1.6.3
attrs==24.3.0
beautifulsoup4==4.13.3
blinker==1.9.0
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.7
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
extruct==0.18.0
Flask==3.0.3
flask-cors==5.0.1
flatbuffers==25.2.10
fonttools==4.56.0
frozendict==2.4.6
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
grpcio==1.71.0
gunicorn==23.0.0
h5py==3.13.0
html5lib==1.1
html_text==0.7.0
idna==3.10
isodate==0.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jstyleson==0.0.2
keras==3.9.0
kiwisolver==1.4.8
libclang==18.1.1
lxml==5.3.1
lxml_html_clean==0.4.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mdurl==0.1.2
mf2py==2.0.1
ml_dtypes==0.5.1
multitasking==0.0.11
namex==0.0.8
narwhals==1.20.1
nltk==3.9.1
numpy==2.1.3
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.14.1
packaging==24.2
pandas==2.2.3
peewee==3.17.9
pillow==11.1.0
platformdirs==4.3.7
protobuf==5.29.2
pyarrow==18.1.0
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.2.1
pyRdfa3==3.6.4
python-dateutil==2.9.0.post0
pytz==2024.2
rdflib==7.1.3
recipe_scrapers==15.6.0
# Editable install with no version control (recipeconverter==2.0.0)
-e c:\users\sarankumar\downloads\recipe-converter-master\recipe-converter-master
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
scikit-learn==1.6.0
scipy==1.15.0
setuptools==76.0.0
six==1.17.0
smmap==5.0.2
soupsieve==2.6
streamlit==1.41.1
tenacity==9.0.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==2.5.0
threadpoolctl==3.5.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
w3lib==2.3.1
watchdog==6.0.0
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
yfinance==0.2.55
